/* src/index.css or src/App.css */
body {
  font-family: 'Montserrat', sans-serif;
}


/* Full page background */
.background-container {
  background-image: url('./resources/backgroundImg3.jpg');
  /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  height: 97vh;
  display: flex;
  flex-direction: column;
}

.trip-section {
  background-image: url('./resources/backgroundImg2.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: white; /* Ensures text stands out on the image */
  text-align: center; /* Centers the text horizontally */
  border-radius: 8px; /* Optional: Adds rounded corners */
  margin-bottom: 20px;
}

/* Navbar styling */
.navbar {
  /* background: rgba(0, 0, 0, 0.7); */
  /* Semi-transparent background */
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap:48px;
}

.navItem {
  color: white;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.navbar ul li a:hover {
  color: #ccc;
}

/* Centered content styling */
.landingContent {
  color: white;
  text-align: center;
  margin: 80px;
}

.landingContent h1 {
  font-size: 3rem;
}

.landingContent p {
  font-size: 1.5rem;
}

.social-icon{
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  padding: 8px;
  width: 30px;
  margin: 8px;
}

.social{
display: flex;
justify-content: end;
}

@media (max-width: 768px) {

  .landTopic {
    font-size: 32px !important;
    line-height: 5vh !important;
  }

  .landbody {
    font-size: 12px !important;
  }

  .landingCard {
    width: 80vw !important;
    padding: 16px !important;
  }

  .landing_text {
    max-width: 60vw !important;
  }
}

.landingCard {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 72vh;
}

.landingCard {
  width: 40vw;
  padding: 24px;
}

.LandBtmSection {
  color: #FFFFFF;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.landing_text {
  max-width: 50vw;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

.landTopic {
  font-size: 40px;
  font-weight: 600;
  line-height: 6vh;
  margin: 8px;
}

.landbody {
  font-size: 16px;
  margin: 16px;
}

.landButton {
  margin-top: 10vh;
  border-radius: 50px;
  padding: 16px 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  font-size: 16px;
}


/* tourism form */

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: none;
}

button,
.currency {
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button.submit-button {
  width: 100%;
}

@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
}

.danger {
  color: red;
}

.form-background4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./resources/mountain.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
